// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (max-width: 992px) {
  .w-sidebar {
    width: 100%!important;
  }
}
