<template>
  <select v-model="selectedValue" @change="changedValue">
	    <option value="*">All Distributors</option>
	    <option :value="distributor.id" v-for="distributor in distributors">{{distributor.name}}</option>
		</select>
</template>

<script>

export default {
  data() {
    return {
      distributors: [],
      selectedValue: '*'
    }
  },
  mounted () {
    Nova.request().get('/nova-vendor/adjuster/getDistributors').then(response => {
      this.distributors = response.data
    })
    this.changedValue()
  },
  methods: {
    changedValue () {
      this.$emit('input', this.selectedValue)
    }
  }
}
</script>

<style lang="scss" scoped>

select {
  font-size: 1.5em;
  padding: 10px;
  background-color: #f7f7f7;
  margin: 10px;
}

</style>
