<template>
  <select v-model="selectedValue" @change="changedValue">
	  <option value="*">All Products</option>
	  <option value="gypsum_premium_97">Gypsum Premium 97</option>
	  <option value="sop_ultra_fines">SOP Ultra Fines</option>
	  <option value="kms">KMS</option>
	  <option value="dryer_fines">Dryer Fines</option>
	  <option value="terra_alba">Terra Alba</option>
	  <option value="turf_and_ornamental">Turf &amp; Ornamental</option>
	  <option value="spread_bulk">Spreadable Bulk</option>
	  <option value="spread_2000lb">Spreadable 2000lb</option>
	  <option value="spread_quarry">Spreadable Quarry</option>
	  <option value="aquadrive_265">Aquadrive 265</option>
	  <option value="aquadrive_2x2">Aquadrive 2x2</option>
	  <option value="machine_175">Machine 175</option>
	  <option value="machine_325">Machine 325</option>
	  <option value="machine_525">Machine 525</option>
	  <option value="feed_grade">Feed Grade</option>
   </select>
</template>

<script>

export default {
  data() {
    return {
      selectedValue: '*'
    }
  },
  mounted () {
    this.changedValue()
  },
  methods: {
    changedValue () {
      this.$emit('input', this.selectedValue)
    }
  }
}
</script>

<style lang="scss" scoped>

  select {
    font-size: 1.5em;
    padding: 10px;
    background-color: #f7f7f7;
    margin: 10px;
  }

</style>
