<template>
  <select v-model="selectedValue" @change="changedValue">
	    <option value="bag_rate">Flat Bed</option>
      <option value="bulk_rate">Pneumatic Rate</option>
		</select>
</template>

<script>

export default {
  data() {
    return {
      selectedValue: 'bag_rate'
    }
  },
  mounted () {
    this.changedValue()
  },
  methods: {
    changedValue () {
      this.$emit('input', this.selectedValue)
    }
  }
}
</script>

<style lang="scss" scoped>

  select {
    font-size: 1.5em;
    padding: 10px;
    background-color: #f7f7f7;
    margin: 10px;
  }

</style>
