<template>
    <div>
        <heading class="mb-6">Price Adjuster</heading>

        <card class="card">
          <h3>Fuel Surcharge</h3>
          <input class="surcharge" type="number" min="0" max="100"  v-model="surcharge" />%
          <button @click="setSurcharge" class="btn btn-default btn-primary btn-surcharge">Set Surcharge</button>
        </card>

        <card class="card">
          <h3>Adjust Product Prices {{state}}</h3>
          Adjust <Products v-model="price.product"/> <br/>
          for <Distributors v-model="price.distributor"/> <br/>
          in <States v-model="price.state" /> <br/>
          by $<input type="number" class="amount" v-model="price.amount"/><br/><br/>
          <button @click="adjustPrices" class="btn btn-default btn-primary btn-prices">Update Prices</button>
        </card>

        <card class="card">
          <h3>Adjust Flatbed Rates</h3>
          Adjust <RateType v-model="rate.type"/> in <States v-model="rate.state" /> by $<input type="number" class="amount" v-model="rate.amount"/>
          <button @click="adjustRates" class="btn btn-default btn-primary btn-rates">Update Rates</button>
        </card>

    </div>
</template>

<script>
import Distributors from './Distributors'
import Products from './Products'
import RateType from './RateType'
import States from './States'

export default {
  components: { Distributors, Products, RateType, States },
  data() {
    return {
      price: {
        product: '',
        distributor: '',
        state: '',
        amount: ''
      },
      rate: {
        type: '',
        state: '',
        amount: ''
      },
      surcharge: 0
    }
  },
  mounted() {
    Nova.request().get('/nova-vendor/adjuster/getSurcharge').then(response => {
      this.surcharge = parseFloat(response.data)
    })
  },
  methods: {
    setSurcharge () {
      Nova.request().put('/nova-vendor/adjuster/setSurcharge', { shipping_surcharge: this.surcharge })
      .then(() => { this.$toasted.show('Surcharge saved!', { type: 'success' }) })
      .catch((error) => { this.$toasted.show('A problem occurred saving the surcharge.', { type: 'error' }) })
    },
    adjustPrices () {
      Nova.request().put('/nova-vendor/adjuster/adjustPrices', { price: this.price })
      .then(() => { this.$toasted.show('Prices saved!', { type: 'success' }) })
      .catch((error) => { this.$toasted.show('A problem occurred saving the prices.', { type: 'error' }) })
    },
    adjustRates () {
      Nova.request().put('/nova-vendor/adjuster/adjustRates', { rate: this.rate })
      .then(() => { this.$toasted.show('Rates saved!', { type: 'success' }) })
      .catch((error) => { this.$toasted.show('A problem occurred saving the new rates.', { type: 'error' }) })
    }
  }
}
</script>

<style lang="scss" scoped>

  .card {
    padding: 25px;
    margin-bottom: 10px;
    h3 {
      font-weight: 100;
      margin-bottom: 15px;
    }
    .btn-surcharge{
      margin-left: 15px;
    }
  }

  input {
    font-size: 1.5em;
    padding: 10px;
    background-color: #f7f7f7;
    margin: 10px;
  }
  .amount {
    max-width: 100px;
  }

  .btn-prices, .btn-rates{
    display: block;
  }

</style>
